@*@{
    ViewData["Title"] = "Home Page";
}*@

@*hello wotld*@

@model Employee

<div class="text-center">
    <h1 class="display-4">Landing Page</h1>
    <p>Get the source from <a href="https://github.com/obrutus">here</a>.</p>
    <hr />  
    Name : @Model.Name <br />   
    UId  : @Model.PersonalId 
    <hr />  
</div>
